@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light+Two&display=swap');
/* 
font-family: 'Shadows Into Light', cursive;
font-family: 'Roboto', sans-serif;
*/
 

/* *{
  border: 2px solid rgb(209, 13, 13);
}  */
.myfont{
  font-family: 'Roboto', sans-serif;
}
#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 8rem;
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(6px 6px 15px rgba(168, 168, 168, 0.5));
}
.logo:hover {
  filter: drop-shadow(1px 2px 5px #8755fdb7);
  /* transform: scale(1.05); */
}
.bitmoji{
  filter: drop-shadow(8px 8px 5px #252525 );
}

 .bounce {
  animation: bounce 1.75s 1 ease-in alternate;
  top:50%;
}
/*@keyframes bounce {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
} */

    @keyframes bounce {
        0%   { transform: translateY(-150px); }
        20%  { transform: translateY(2px); }
        40%  { transform: translateY(-9px); }
        60%  { transform: translateY(0); }
        80%  { transform: translateY(-3px); }
        100% { transform: translateY(0); }
    }
        

/*!---------------------HOME----------------------- */
.title{
  text-align: center;
  background: -webkit-linear-gradient(rgb(4, 25, 97), rgb(178, 39, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px .25px black);
}
.subtitle{
  background: -webkit-linear-gradient(rgb(4, 16, 58), rgb(161, 4, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(.75px .75px .10px black);
}

/*! --------------APPROACH Carousel---------------- */
.approach--carousel{
  padding:  0;
  
}


@media screen and (max-width: 400px){
  .approach--videos{
    width: 280px;
    height: 157px;
  }

}
/*! ------------------PROJECTS--------------------- */
.projects--container{
  background-color: none; 
}