@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light+Two&display=swap');
/* 
font-family: 'Shadows Into Light', cursive;
font-family: 'Roboto', sans-serif;
*/
 

/* *{
  border: 2px solid rgb(209, 13, 13);
}  */

.myfont{
  font-family: 'Roboto', sans-serif;
}
#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 8rem;
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(6px 6px 15px rgba(168, 168, 168, 0.5));
}
.logo:hover {
  filter: drop-shadow(1px 2px 5px #8755fdb7);
  /* transform: scale(1.05); */
}
.bitmoji{
  filter: drop-shadow(8px 8px 5px #252525 );
}

 .bounce {
  animation: bounce 1.75s 1 ease-in alternate;
  top:50%;
}
/*@keyframes bounce {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
} */

/* Down, up,  */
    @keyframes bounce {
        0%   { transform: translateY(-150px); } 
        20%  { transform: translateY(5px); }
        40%  { transform: translateY(-12px); }
        55%  { transform: translateY(2px); }
        70%  { transform: translateY(-6px); }
        80%  { transform: translateY(0px); }
        90%  { transform: translateY(-3px); }
        100% { transform: translateY(0); }
    }
/*!---------------------NAV BAR-------------------- */
.navlink{
  transition: all 500ms ease-in-out;
  padding-bottom: 2px;
}
.navlink:hover{
  filter: drop-shadow(2px 2px 1px rgb(2, 136, 209));

}
/*!---------------------HOME----------------------- */
.title{
  text-align: center;
  background: -webkit-linear-gradient(rgb(4, 25, 97), rgb(178, 39, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1.5px 2px .25px black);
}
.subtitle{
  background: -webkit-linear-gradient(rgb(4, 16, 58), rgb(161, 4, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(.75px .75px .10px black);
}

/*! --------------APPROACH Carousel---------------- */
.approach--carousel{
  padding:  0;
  margin: auto;
  
}
@media screen and (max-width: 900px){
  .approach--videos{
    width: 400px;
    height: 225px;
  }
  .approach--carousel{
    width: 496px;
    height: 279px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 500px){
  .approach--videos{
    width: 231px;
    height: 139px;
  }
  .approach--carousel{
    width: 248px;
    height: 139px;
  }
  .bitmoji{
    width: 80%;
  }
}
/*! ------------------ABOUT--------------------- */
.about{
    background: linear-gradient(150deg,   
  #ffbfe2, #fdbce1, 
  #f6b5dd, #ebaad8, 
  #dc9cd3, #cb8fce, 
  #b781c9, #a275c4, 
  #8d6bc0, #7b63bd, 
  #6d5fbb, #685dba
  );
  
}

/*! ------------------PROJECTS--------------------- */
.projects--container{
  background-color: none; 
}
.cards{
  transition: all 500ms ease-in-out;

}
.cards:hover{
  transform: scale(1.1);
}

.top--layer {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #04AA6D;
}

.cards:hover .top--layer {
  opacity: 1;
  
}

@media screen and (max-width: 600px){
  .course--frame{
    height: 250px;
    width: 90%;
    margin:0;
    padding:0;
  }
}  
